body {
    font-family: 'Roboto';
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 90px;
}

.footer {
    padding: 50px;
    margin-top: auto;
}

.left-hero {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-left: 50px;
}

.right-hero {
    width: 450px;
    background-color: #F9FAF880;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-container {
    margin-top: 32px;
    display: flex;
    gap: 32px;
}

.content {
    width: 150px;
    text-align: center;
}

.img-info {
    height: 150px;
    box-sizing: border-box;
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.quote-section {
    display: flex;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px;
    justify-content: center;
}

.quote-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 777px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
}

.speaker {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
}

.banner {
    margin: 90px auto;
    padding: 32px;
    border-radius: 10px;
    background-color: #3882F6;
    width: 728px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-banner {
    color: #E5E7EB;
}

.outlined {
    border-color: #E5E7EB;
    border: solid;
}

img {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 120px;
    height: 30px;
}