body {
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 90px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding-left: 50px;
}

.right {
    width: 450px;
    background-color: #F9FAF880;
}

.primary {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

button {
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 120px;
    height: 30px;
}